.form-request {
    display: grid;
    width: 50%;
    margin: auto;
    font-size: 1rem;
    border: 1px solid var(--grey);
    border-radius: 10px;
    box-shadow: var(--shadow), 1px 1px var(--grey);
}

.form-request>* {
    outline: none;
    display: flex;
    text-align: center;
    padding: 10px;
    width: 75%;
    margin: 5px auto;
    border-radius: 10px;
    border: 1px solid var(--grey);
}

.form-request>h3 {
    justify-content: center;
    border: none;
    font-size: 30px;
    font-style: oblique;
    margin-bottom: var(--icon-size);
}

.form-request>select {
    font-size: 1.2rem;
    background-color: var(--blue);
    color: var(--white);
}

.form-request>textarea,
.form-request>input {
    display: flex;
    flex-direction: column;
    height: 2.5rem;
    max-height: 5rem;
}

.form-request>button {
    width: 25%;
    justify-content: center;
    font-size: 1.5rem;
    background-color: var(--gren);
    border: none;
    box-shadow: 2px 2px var(--grey);
    margin-bottom: 10px;
    color: var(--white);
}