.navigation ul li {
    position: relative;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul .hovered {
    background-color: var(--white);
}

.navigation ul li:first-child {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li:last-child {
    top: 48.7vh;
}

.navigation ul li .Linked {
    position: relative;
    width: 100%;
    display: flex;
    font-weight: 600;
    color: var(--white);
    border: none;
    background-color: transparent;
}

.navigation ul li:hover .Linked,
.navigation ul .hovered .Linked {
    color: var(--blue);
}

.navigation ul li .Linked .icon {
    position: relative;
    display: block;
    min-width: var(--icon-size);
    height: var(--icon-size);
    line-height: var(--icon-size);
    text-align: center;
    z-index: 10;
}

.navigation ul li .Linked .icon i {
    font-size: 1.75em;
}

.navigation ul li .Linked .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: var(--icon-size);
    line-height: var(--icon-size);
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover .Linked::before,
.navigation ul .hovered .Linked::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover .Linked::after,
.navigation ul .hovered .Linked::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}