.login-container {
    display: grid;
    aspect-ratio: 13/15;
    align-content: center;
    margin: auto;
    height: 60%;
    border: 1px solid var(--grey);
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--shadow), 1px 1px var(--grey);
}

.login {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login h2 {
    margin-bottom: var(--icon-size);
    font-size: 24px;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
}

.login-form>input {
    outline: none;
    border: 1px solid var(--grey);
    background-color: transparent;
    padding: 10px;
    width: 75%;
    text-align: center;
    font-size: 1em;
    margin: 5px auto;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.btn {
    padding: 10px 0;
    background-color: var(--blue);
    border: none;
    color: var(--white);
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 2px 2px var(--grey);
    width: 50%;
    margin: 30px auto 0;

}

.error-msg {
    color: var(--red);
    padding: 5px;
    font-weight: 600;
}