:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--white);
}


:root {
  --blue: #09d;
  --gren: #0d9;
  --red: #d00;
  --white: #fff;
  --grey: #999a9f;
  --black-1: #444;
  --black-2: #000;
  --shadow: 0 7px 25px rgba(0, 0, 0, .15);
  --icon-size: 60px;
}